%%-*- encoding: utf-8 -*-
%%-*- mode: erlang -*-
{sub_dirs,
    [
     "apps/*"
    ]}.
{lib_dirs, ["deps", "apps"]}.

{deps_dir, "deps"}.

{erl_opts,
    [
     debug_info
    ,bin_opt_info
    %,warn_missing_spec
    %,warnings_as_errors
    ,warn_export_all
    ]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [debug_info]}.
{cover_enabled, true}.

{clean_files, ["*.eunit", "test/*.beam", "logs/*"]}.

{deps, [{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}}]}.
